@charset "UTF-8";
 /* Configurações da CSS */

    
    
    body{
        background-image: linear-gradient(to right, #08001a, #200163);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
 }
    main{
        background-color: #462666;
        width: 600px;
        padding: 10px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #36157e79;
    }

    h1{
        text-align: center;
        color: #FFEF00;
        text-shadow: 1px 1px 5px rgb(114, 114, 3) ;
}
    h2{
        color: #D1FF45;

    }
    
    p{ 
     color: white;
     text-align: justify;
        
    }